.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  font-weight: bold;
  color: white;
}

.MainPage {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 0 15px 0;
  height: 3vh;
  border-bottom: 2px solid grey;
}


.header > div {
  padding-right: 20px;
  cursor: pointer;
}
div.content-profile > input {
  width: 93%;
    height: 20px;
    font-size: 2vh;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.profile-header {
  padding: 15px 0 15px 0;
}
.content-profile {
  padding: 1vh;
  min-width: 350px;
  margin: 0 auto;
}
.content-orders {
  padding: 1vh;
  min-width: 450px;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
}

.login-form > input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin-top: 4px;
  font-size: 2vh;
}

.login-form > div:nth-child(3) {
  margin-top: 10px;
}

.sign-button, .reg-button {
  background-color: green;
  height: 50px;
  margin-top: 15px;
  font-size: 3vh;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.save-button, .change-button {
  display: block;
  width: 100%;
  cursor: pointer;
}
.change-button {
  background-color: darkslateblue;
}
.reg-button {
  background-color: darkslateblue;
}

.error, .success, .info {
  color: #ec6c6c;
  font-size: 16px;
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: 100;
}
.success {
  color: #1ed856;
}
.info {
  color: grey;
}
.dis-btn {
  background-color: grey
}
.label-old-password {
  margin-top: 30px;
}
.item {
  display: flex;
  font-size: 1.7vh;
  font-weight: 100;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
}

.price-red {
  color: indianred;
  margin: 0 10px 0 auto;
}
.price-green {
  color: green;
  margin: 0 10px 0 auto;
}
.time {
  width: 200px;
}